{% load widget_tweaks %}

{% if not hide_label %}
    <label class="form-control-label" for="{{ field.auto_id }}">{% if label %}{{ label }}{% else %}{{ field.label }}{% endif %}</label>
{% endif %}
{% if field.errors %}
    {% render_field field class+=class class+='is-invalid' type=type placeholder=placeholder %}
{% else %}
    {% render_field field class+=class type=type placeholder=placeholder %}
{% endif %}
{% if field.errors %}
    <div class="invalid-feedback">{{ field.errors|striptags }}</div>
{% endif %}