<p>Hi,<p>

<p>In order to set a new password, please click on the button below:</p>

<p>
    <a href="{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}" class="button"
       style=" display: inline-block; color: #ffffff; background-color: rgb(52, 58, 64); border-color: rgb(34, 37, 64);  border-radius: 5px;  text-align: center; padding: 10px; font-size: 16px; text-decoration: none; text-transform: uppercase;">Set a new password</a>
</p>

<br/>

<p><i>-- The Przeliczacz Team</i></p>
