{% extends 'registration/base.html' %}

{% block card-title %}Email sent{% endblock %}

{% block card-body %}
    <p class="card-text">Email with password reset instructions has been sent.</p>
    <p class="card-text">If you did not receive this email, please check your junk/spam folder.</p>
{% endblock %}

{% block card-footer %}
    <a class="d-block small" href="{% url 'auth_login' %}">Login Page</a>
    <a class="d-block small" href="{% url 'registration_register' %}">Register an Account</a>
{% endblock %}