{% load static %}

<script src="{% static 'js/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery/jquery.blockui.js' %}"></script>
<script src="{% static 'js/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/dataTables.responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/vendor/sb-admin/sb-admin.min.js' %}"></script>
<script src="{% static 'js/vendor/sb-admin/sb-admin-datatables.min.js' %}"></script>
<script src="{% static 'js/przel.js' %}"></script>