{% extends 'base.html' %}

{% block main-content %}
    <script>
        blockui();
    </script>
    <div id="hide" class="no-display">
        <table id="product-datatable" class="table-striped">
            <thead>
            <tr>
                <th class="w-widest">Name</th>
                <th class="w-narrow">Carbs</th>
                <th class="w-narrow">Protein</th>
                <th class="w-narrow">Fat</th>
                <th class="w-narrow">Energy</th>
                <th class="w-wider">Unit weight</th>
                <th class="w-last no-sort">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for product in object_list %}
                <tr data-prod-slug="{{ product.slug }}">
                    <td>
                        <div class="prod-value-text toggleable">
                            <span>{{ product.name }}</span>
                        </div>
                        <div class="prod-value-input no-display">
                            <input required type="text" maxlength="255" class="form-control" name="name"
                                   value="{{ product.name }}" placeholder="Product name">
                        </div>
                    </td>
                    <td>
                        <div class="prod-value-text toggleable">
                            <span>{{ product.carb.normalize }}</span>
                        </div>
                        <div class="prod-value-input no-display">
                            <input required type="number" step="0.01" min="0" class="form-control" name="carb"
                                   value="{{ product.carb.normalize }}" placeholder="Carbs">
                        </div>
                    </td>
                    <td>
                        <div class="prod-value-text toggleable">
                            <span>{{ product.protein.normalize }}</span>
                        </div>
                        <div class="prod-value-input no-display">
                            <input required type="number" step="0.01" min="0" class="form-control" name="protein"
                                   value="{{ product.protein.normalize }}" placeholder="Protein">
                        </div>
                    </td>
                    <td>
                        <div class="prod-value-text toggleable">
                            <span>{{ product.fat.normalize }}</span>
                        </div>
                        <div class="prod-value-input no-display">
                            <input required type="number" step="0.01" min="0" class="form-control" name="fat"
                                   value="{{ product.fat.normalize }}" placeholder="Fat">
                        </div>
                    </td>
                    <td>
                        <div class="prod-value-text toggleable">
                            <span>{{ product.energy.normalize }}</span>
                        </div>
                        <div class="prod-value-input no-display">
                            <input required type="number" step="0.01" min="0" class="form-control" name="energy"
                                   value="{{ product.energy.normalize }}" placeholder="Energy">
                        </div>
                    </td>
                    <td>
                        <div class="prod-value-text toggleable">
                            <span>{{ product.unit_weight.normalize }}</span>
                        </div>
                        <div class="prod-value-input no-display">
                            <input required type="number" step="0.01" min="0" class="form-control" name="unit_weight"
                                   value="{{ product.unit_weight.normalize }}" placeholder="Unit weight">
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning btn-sm display-inline" data-toggle="tooltip" title="Delete" onclick="question_delete('{{ product.slug }}', '{{ product.name }}');">
                            <i class="fa fas fa-trash"></i>
                        </button>
                        <button type="button" class="btn btn-info btn-sm btn-edit display-inline" data-toggle="tooltip" title="Edit" onclick="edit_product_popup('{{ product.slug }}', '{{ product.name }}');">
                            <i class="fa fas fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-success btn-sm btn-save display-inline no-display" data-toggle="tooltip" title="Save" onclick="save_product_row(this);">
                            <i class="fa fas fa-save"></i>
                        </button>
                        <button type="button" class="btn btn-primary btn-sm display-inline" data-toggle="tooltip" title="Add to meal">
                            <i class="fa fas fa-plus"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="delete-product-modal" tabindex="-1" role="dialog" aria-labelledby="delete-product-modal-label"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-product-modal-label">Are you sure?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p></p>
                    You are going to delete<br><b class="prod-name"></b>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-delete" type="button" onclick="send_ajax(this);">Confirm</button>
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="update-product-modal" role="dialog" aria-labelledby="update-product-modal-label"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="update-product-modal-label"><span class="action"></span> Product</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6 class="modal-title modal-error">Your form contains errors!</h6>
                    <form id="product-form">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning mr-auto btn-delete" data-toggle="tooltip" title="Delete"
                            onclick="">
                        <i class="fa fas fa-trash"></i>
                    </button>
                    <button class="btn btn-primary btn-submit" type="button" onclick="">Submit</button>
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="success-msg-modal" tabindex="-1" role="dialog" aria-labelledby="success-msg-modal-label"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="success-msg-modal-label">Success</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-success">Product has been <span class="action">XXXXX</span>!</div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-delete" type="button" onclick="reload();">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        var PRODUCT_CREATE_URL = '{% url 'product-add' %}';
        var PRODUCT_UPDATE_URL = '{% url 'product-edit' 'XXX' %}';
        var PRODUCT_DELETE_URL = '{% url 'product-delete' 'XXX' %}';

        $(document).ready(function () {
            datatable = $('#product-datatable').DataTable({
                dom: 'Bfrtip',
                responsive: true,
                columnDefs: [
                    {targets: [6], orderable: false},
                    {targets: [0, 1, 2, 3, 4, 5, 6], className: "desktop"},
                    {targets: [0, 6], className: "tablet, mobile"}
                ],
                initComplete: function () {
                    $('#hide').removeClass('no-display');
                    unblockui();
                }
            });
        });
    </script>
{% endblock %}